<div *ngFor="let post of newPosts; let i = index">
  <div *ngIf="post.active">
    <div
      class="card"
      id="post"
      [ngClass]="{
        'text-bg-warning': post.type === 'news',
        'text-bg-dark': post.type === 'politic',
        'text-bg-primary': post.type === 'education'
      }"
    >
      <div class="card-header">POST {{ post.id }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">
          {{ post.body }}
        </p>
      </div>
      <button (click)="callUpdate(i)">Disattiva</button>
    </div>
  </div>
</div>
